# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [2]:
student_list = ["Alex", "Alfonso", "Anais", "Antonio", "Ariadna", "Daniel", "Estela", "Javier", "Javier_olcoz", "Juan", "Kapil", "Leonardo", "Maria", "Maria_del_mar", "Marta", "Miguel", "Miguel_merry", "Roberto", "Xeles"]
# ------
row_1 = ["Maria", "Xeles", "Juan"]
# ------
row_2 = ["Estela", "Leonardo", "Marta", "Daniel"]
# -----
row_3 = ["Kapil", "Roberto", "Alfonso", "Miguel"]
# -----
remote = ["Alex", "Anais", "Antonio", "Ariadna", "Javier", "Javier_olcoz", "Maria_del_mar"]

print("Student list: " + str(student_list))
print("Row 1: " + str(row_1))
print("Row 2: " + str(row_2))
print("Row 3: " + str(row_3))

Student list: ['Alex', 'Alfonso', 'Anais', 'Antonio', 'Ariadna', 'Daniel', 'Estela', 'Javier', 'Javier_olcoz', 'Juan', 'Kapil', 'Leonardo', 'Maria', 'Maria_del_mar', 'Marta', 'Miguel', 'Miguel_merry', 'Roberto', 'Xeles']
Row 1: ['Maria', 'Xeles', 'Juan']
Row 2: ['Estela', 'Leonardo', 'Marta', 'Daniel']
Row 3: ['Kapil', 'Roberto', 'Alfonso', 'Miguel']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [3]:
empty_list = []
print(empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [13]:
my_list = ["hola", 4.5, 55, "adios", 10]
print("My list: " + str(my_list))

My list: ['hola', 4.5, 55, 'adios', 10]

3. Find the length of **my_list**

In [14]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [24]:
my_list_first_item = my_list[0]
my_list_middle_item = my_list[2]
mylist_last_item = my_list[4]

print("My list first item: " + str(my_list_first_item))
print("My list middle item: " + str(my_list_middle_item))
print("My list last item: " + str(mylist_last_item))

My list first item: hola
My list middle item: 55
My list last item: 10

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [27]:
name = input("Your name:")
age = input("Your age:")
height = input("Your height:")
country = input("Your country:")
python_version = input("Your python version:")

print("Your name:" + name)
print("Your age:" + age)
print("Your height:" + height)
print("Your country:" + country)
print("Your python version:" + python_version)

Your name:Leonardo
Your age:23
Your height:1.83
Your country:Spain
Your python version:3.9.0

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [29]:
mixed_data_types = [name, height, country, python_version]

print("My mixed data types:", mixed_data_types)

My mixed data types: ['Leonardo', '1.83', 'Spain', '3.9.0']

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [32]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [33]:
print("IT companies:", it_companies)

IT companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [35]:
print("The amount of IT companies are:", len(it_companies))

The amount of IT companies are: 7

11. Print *Google*

In [36]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [37]:
print("First company:", it_companies[0])
print("Middle company:", it_companies[3])
print("Last company", it_companies[6])

First company: Facebook
Middle company: Apple
Last company Amazon

11. Assign a new value to the last element of the list

In [50]:
#Intento 1: aqui he querido buscar una forma de reemplazar directamente un ítem por otro y no utilizar .remove y después .append

#La lista original
print("IT Companies", it_companies)
new_item = "Uber"

#la lista reemplazando el último elemento
replace_it_companies = [(item.replace("Amazon", "Google"))for item in new_item]
print("Replaced it company", (replace_it_companies))

#viendo que no funcionaba, pruebo de otra forma
#Esta es la definitiva


it_companies_test1 = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies_test1 = ["UBER" if i=="Amazon" else i for i in it_companies_test1]
print("Last element replaced", it_companies_test1)

IT Companies ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
Replaced it company ['U', 'b', 'e', 'r']
Last element replaced ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'UBER']

12. Print the list after modifying one of the companies

In [51]:
it_companies = it_companies_test1
print("Modifies IT companies list", it_companies_test1)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'UBER']

## Bonus track.

13. Add an IT company to **it_companies**

In [80]:
#Voy a trabajar con la lista modificada con UBER en lugar de Amazon
it_companies = it_companies_test1
it_companies.append("Airbnb")
it_companies.remove("Airbnb")


#He tenido unos fallos con la memoria pero lo he solucionado

print("IT companies:", it_companies)
it_companies.append("Airbnb")
print("it companies with new company:", it_companies)

IT companies: ['Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'UBER']
it companies with new company: ['Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'UBER', 'Airbnb']

14. Check if *Apple* exists in the **it_companies** list.

In [81]:
if "Apple" in it_companies:
    print("Yes, Apple is in the list")

Yes, Apple is in the list

15. Sort the list using `sort()` method

In [82]:
#it_companies list
it_companies.sort()
print(it_companies)
print("Sorted list:", it_companies.sort())

['Airbnb', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'UBER']
Sorted list: None

16. Reverse the list in descending order using `reverse()` method

In [92]:
#print It companies list
print(it_companies)

#esta lista se ha quedado invertida, así que voy a ponerla en el orden correcto con reverse

it_companies. reverse()
print("list without reverse", it_companies)

['Airbnb', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle', 'UBER']
list without reverse ['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Airbnb']

17. Slice out the first 3 companies from the list

In [103]:
#print las tres primeras compañias de la lista
print("Tres primeras compañías de la lista", it_companies[0:3])

#

Tres primeras compañías de la lista ['UBER', 'Oracle', 'Microsoft']

18. Remove the last IT company from the list

In [119]:
#print it_companies

print("It companies", it_companies)


it_companies.append("Airbnb")
it_companies.remove("Airbnb")
it_companies
print(it_companies)
print("List without last item:", it_companies)

#segundo intento


print("Definitivo itcompanies", it_companies)

#ya he entendido que si vuelvo a ejecutar it companies una vez eliminado el objeto, hay un error porque dicho objeto que se desea eliminar ya no consta en la actual lista, por lo que tengo que volverlo a incluir.

it_companies.append("Airbnb")
print(it_companies)

it_companies.remove("Airbnb")
it_companies
print("LISTA DEFINITIVA SIN LA ÚLTIMA EMPRESA:", it_companies)

It companies ['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']
['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']
List without last item: ['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']
Definitivo itcompanies ['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']
['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Airbnb']
LISTA DEFINITIVA SIN LA ÚLTIMA EMPRESA: ['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [120]:
#podría eliminar todos los elementos de la lista uno por uno, pero he buscado la forma de eliminarlos todos de una

print(it_companies)
it_companies.clear()

print("lista vacía:", it_companies)

['UBER', 'Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple']
lista vacía: []

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [121]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print("End list:", end)

End list: [['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [123]:
print(end)
print("HTML from end list:", end[0][0])

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
HTML from end list: HTML

22. From the end list print the 'C' from the word 'CSS'

In [124]:
#Print end
print(end)

#para sacar la c
#buscar dentro de la lista total el primer elemento (la lista con HTML y CSS) POSICIÓN 0
#dentro de esa lista, seleccionar el segundo elemento (CSS, que se encuentra en la posición 1)
#dentro de CSS, extraer el primer elemento POSICIÓN 0

print("Letra C de CSS:", end[0][1][0])

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
Letra C de CSS: C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [131]:
#Es necesario poner una coma dentro de la tupla, aunque tenga un elemento

tup = tuple("T")
print(tup)

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [132]:
print("Type of 'tup':", type(tup))

Type of 'tup': <class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [135]:
#no es posible añadir los elementos a la tupla porque la tupla es un tipo de colección cuyos elementos son inmutables
#para poder hacerlo posible, sería conveniente crear una lista con todos los elementos y después hacerlos una tupla
#En caso de querer añadir algo más, habría que convertirlos nuevamente en lista, utilizar la función .append las veces que fuese necesario y finalmente volver a convertirla en tupla

#Aquí el primer intento

print("Tup:", tup)

new_elements = "H", "E", " ", "B", "R", "I", "D", "G", "E",

#convierto tup en lista para añadir todos los elementos
tup_list = list(tup)

print("tup list:", tup_list)

#ahora añado los nuevos caracteres a través de .extend

tup_list.extend(new_elements)

print("Updated list:", tup_list)

#ahora podría convertir esa lista en tupla para que los elementos fuesen inmutables

print(tup)

tup = tup_list
tup = tuple(tup)

print("Ahora tup vuelve a ser una tupla con los caracteres modificados")
print(tup)

Tup: ('T',)
tup list: ['T']
Updated list: ['T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E']
('T',)
Ahora tup vuelve a ser una tupla con los caracteres modificados
('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [136]:
print("Sin darme cuenta lo he hecho en el ejercicio anterior. Básicamente se trata de convertir tup en una lista para poder incluir los nuevos elementos y, si se quiere que sea una tupla otra vez, habría que reasignar la variable")

Sin darme cuenta lo he hecho en el ejercicio anterior. Básicamente se trata de convertir tup en una lista para poder incluir los nuevos elementos y, si se quiere que sea una tupla otra vez, habría que reasignar la variable

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [137]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

my_set = set(lista_repes)

print("My set:", my_set)

My set: {'python', 'science', 'clara', 'diomedes', 'data', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [140]:
print("My set:", my_set)

my_set[0]

My set: {'python', 'science', 'clara', 'diomedes', 'data', 'gabriel'}

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [141]:
my_set = list(my_set)

print(my_set)

print("First element of my set:", my_set[0])

['python', 'science', 'clara', 'diomedes', 'data', 'gabriel']
First element of my set: python