## 1.

*Recogiendo los datos de coronavirus de la página https://ourworldindata.org/coronavirus-source-data* 

A partir de la letra de tu DNI, elige al país que empieza por dicha letra que más fallecidos tenga. Si el país elegido no está entre el top 20 de fallecidos, elige como país España.

En este caso, utilizaremos las columnas:

- Nuevos casos
- Nuevos fallecidos
- Población
- Fallecidos totales
- Casos totales

La fecha debe estar en el índice.

1. Representa todas las columnas en un gráfica con diferentes magnitudes en el eje y para su correcta visualización.

2. Elimina la columna "Población".

3. Entrena los algoritmos de regresión que hemos visto hasta ahora para predecir dos columnas por separado: Nuevos casos y Nuevos fallecidos. Este modelo ha de entrenarse siguiendo el esquema recomendado de validación cruzada y almacenando los errores de entrenamiento y validación en cada iteración del entrenamiento. ¿Qué error se comete? ¿crees que los algoritmos de ML vistos hasta ahora son buenos para realizar un forecast de una serie temporal viendo los resultados?

4. Representa la evolución de los errores de validación y entrenamiento en una gráfica. ¿Ha habido sobreaprendizaje?. Utiliza n_iteraciones = 23 y batches = 7 para este ejercicio y solo para la columna "nuevos casos".

In [2]:
## Import the necessary libraries

import pandas as pd 
import numpy as np 

from sklearn.metrics import accuracy_score
from sklearn.model_selection import RepeatedKFold, RepeatedStratifiedKFold


import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv', sep=',')

from data_mining_tb import df_info
df_info(df=df)

####
DATAFRAME INFO
####

Number of rows: 68106
Number of columns: 59

#### DATAFRAME COLUMNS ####
 Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

### DATAFRAME COLUMN TYPES ###

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68106 entries, 0 to 68105
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               65092 non-null  object
 1   continent                              64697 non-null  object
 2   location                               68106 non-null  object
 3   date                                   68106 non-null  object
 4   total_cases                            67351 non-null  float64
 5   new_cases                              67349 non-null  float64
 6   new_cases_smoothed                     66348 non-null  float64
 7   total_deaths                           58470 non-null  float64
 8   new_deaths                             58628 non-null  float64
 9   new_deaths_smoothed                    66348 non-null  float64
 10  total_cases_per_million                66597 non-null  float64
 11  new_cases_per_million                  66594 non-null  float64
 12  new_cases_smoothed_per_million         65604 non-null  float64
 13  total_deaths_per_million               57751 non-null  float64
 14  new_deaths_per_million                 57886 non-null  float64
 15  new_deaths_smoothed_per_million        65604 non-null  float64
 16  reproduction_rate                      51295 non-null  float64
 17  icu_patients                           7167 non-null   float64
 18  icu_patients_per_million               7167 non-null   float64
 19  hosp_patients                          8519 non-null   float64
 20  hosp_patients_per_million              8519 non-null   float64
 21  weekly_icu_admissions                  672 non-null    float64
 22  weekly_icu_admissions_per_million      672 non-null    float64
 23  weekly_hosp_admissions                 1112 non-null   float64
 24  weekly_hosp_admissions_per_million     1112 non-null   float64
 25  new_tests                              30980 non-null  float64
 26  total_tests                            30776 non-null  float64
 27  total_tests_per_thousand               30776 non-null  float64
 28  new_tests_per_thousand                 30980 non-null  float64
 29  new_tests_smoothed                     34989 non-null  float64
 30  new_tests_smoothed_per_thousand        34989 non-null  float64
 31  positive_rate                          33318 non-null  float64
 32  tests_per_case                         32814 non-null  float64
 33  tests_units                            36238 non-null  object
 34  total_vaccinations                     1730 non-null   float64
 35  people_vaccinated                      1420 non-null   float64
 36  people_fully_vaccinated                832 non-null    float64
 37  new_vaccinations                       1438 non-null   float64
 38  new_vaccinations_smoothed              2448 non-null   float64
 39  total_vaccinations_per_hundred         1730 non-null   float64
 40  people_vaccinated_per_hundred          1420 non-null   float64
 41  people_fully_vaccinated_per_hundred    832 non-null    float64
 42  new_vaccinations_smoothed_per_million  2448 non-null   float64
 43  stringency_index                       58625 non-null  float64
 44  population                             65083 non-null  float64
 45  population_density                     63701 non-null  float64
 46  median_age                             62113 non-null  float64
 47  aged_65_older                          61395 non-null  float64
 48  aged_70_older                          61762 non-null  float64
 49  gdp_per_capita                         62241 non-null  float64
 50  extreme_poverty                        42548 non-null  float64
 51  cardiovasc_death_rate                  62846 non-null  float64
 52  diabetes_prevalence                    63614 non-null  float64
 53  female_smokers                         49521 non-null  float64
 54  male_smokers                           48842 non-null  float64
 55  handwashing_facilities                 31502 non-null  float64
 56  hospital_beds_per_thousand             57644 non-null  float64
 57  life_expectancy                        64740 non-null  float64
 58  human_development_index                62834 non-null  float64
dtypes: float64(54), object(5)
memory usage: 30.7+ MB

 None

### TOTAL NaN VALUES ###

 iso_code                                  3014
continent                                 3409
location                                     0
date                                         0
total_cases                                755
new_cases                                  757
new_cases_smoothed                        1758
total_deaths                              9636
new_deaths                                9478
new_deaths_smoothed                       1758
total_cases_per_million                   1509
new_cases_per_million                     1512
new_cases_smoothed_per_million            2502
total_deaths_per_million                 10355
new_deaths_per_million                   10220
new_deaths_smoothed_per_million           2502
reproduction_rate                        16811
icu_patients                             60939
icu_patients_per_million                 60939
hosp_patients                            59587
hosp_patients_per_million                59587
weekly_icu_admissions                    67434
weekly_icu_admissions_per_million        67434
weekly_hosp_admissions                   66994
weekly_hosp_admissions_per_million       66994
new_tests                                37126
total_tests                              37330
total_tests_per_thousand                 37330
new_tests_per_thousand                   37126
new_tests_smoothed                       33117
new_tests_smoothed_per_thousand          33117
positive_rate                            34788
tests_per_case                           35292
tests_units                              31868
total_vaccinations                       66376
people_vaccinated                        66686
people_fully_vaccinated                  67274
new_vaccinations                         66668
new_vaccinations_smoothed                65658
total_vaccinations_per_hundred           66376
people_vaccinated_per_hundred            66686
people_fully_vaccinated_per_hundred      67274
new_vaccinations_smoothed_per_million    65658
stringency_index                          9481
population                                3023
population_density                        4405
median_age                                5993
aged_65_older                             6711
aged_70_older                             6344
gdp_per_capita                            5865
extreme_poverty                          25558
cardiovasc_death_rate                     5260
diabetes_prevalence                       4492
female_smokers                           18585
male_smokers                             19264
handwashing_facilities                   36604
hospital_beds_per_thousand               10462
life_expectancy                           3366
human_development_index                   5272
dtype: int64

In [4]:
df.set_index('date', inplace=True)

## After that, create a function that selects a country from the dataset which begins with the first letter of your ID card

In [6]:
def id_letter_country():
    '''
    @leosanchezsoler
    This function returns data from a country with the first letter of your ID-card
        Parameters:
            - id_letter: a string with the letter of your ID-card
    '''
    id_letter = str(input('Please, enter your ID card letter'))
    if len(id_letter) > 1 or type(id_letter) != str:
        print('Sorry mate, but your ID only has one letter. Please, check what you have done and try again')
    
    #########################################################
    else:
        # Create the necessary variables

        countries = df.location.unique()
        countries_death_rank = df.groupby('location').sum()['total_deaths'].sort_values(ascending=False).head(20).index
        your_countries = []
        for pos, country in enumerate(countries):
            if country[pos].startswith(id_letter):
                your_countries.append(country)
                print(f'{country} is for you!')
            else: 
                print('Spain is your country')
                break
        

id_letter_country()

Spain is your country

## My country is Spain, so I will use their data

In [1]:
Spain_df = df[df.location == 'Spain']
df_info(df=Spain_df)

NameError: name 'df' is not defined

# In this case, we will use the following columns:

- new_cases
- new_deaths
- population
- total_deaths
- total_cases

In [8]:
Spain_df = df[['new_cases', 'new_deaths', 'population', 'total_deaths', 'total_cases']]
Spain_df.describe()

           new_cases    new_deaths    population  total_deaths   total_cases
count   67349.000000  58628.000000  6.508300e+04  5.847000e+04  6.735100e+04
mean     5052.178473    129.082230  8.986700e+07  1.692272e+04  5.444255e+05
std     32243.412520    712.074214  6.154056e+08  9.762171e+04  3.860281e+06
min    -46076.000000  -1918.000000  8.090000e+02  1.000000e+00  1.000000e+00
25%         1.000000      0.000000  2.540916e+06  3.300000e+01  6.300000e+02
50%        54.000000      1.000000  9.890400e+06  2.140000e+02  6.710000e+03
75%       627.000000     15.000000  3.236600e+07  2.020000e+03  7.375100e+04
max    858062.000000  17885.000000  7.794799e+09  2.354561e+06  1.073407e+08

In [9]:
### Drop NaN values
Spain_df.dropna(how='all', inplace=True)

In [10]:
Spain_df.isna().sum()

new_cases        748
new_deaths      9469
population      3014
total_deaths    9627
total_cases      746
dtype: int64

In [11]:
Spain_df.columns

Index(['new_cases', 'new_deaths', 'population', 'total_deaths', 'total_cases'], dtype='object')

In [12]:
# Fill NaN values with the median of the columns

Spain_df.fillna(Spain_df.median, inplace=True)

In [13]:
Spain_df.isna().sum()

new_cases       0
new_deaths      0
population      0
total_deaths    0
total_cases     0
dtype: int64

## I still have to visualize the proper columns
- Ask a teacher for it

### Drop population column

In [ ]:
df