# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [6]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [ ]:
# built-in
type

In [7]:
x = 5
y = 7

z = x + y
print(z)

12

In [31]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena'" silvia----

In [27]:
print(g)

'lorena'" silvia

In [28]:
# type muestra el tipo de la variable
type(g)

str

In [29]:
type(3)

int

In [37]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis
print(g, z, 6, "cadena")

'lorena'" silvia---- 12 6 cadena
'lorena'" silvia---- 12 6 cadena

In [42]:
u = "g"
silvia = "silvia tiene "

anos = " años"

suma = silvia + u + anos
print(suma)

silvia tiene g años

In [3]:
n = 2
m = "3"

print(n + (int(m)))

5

In [46]:
# Cambiar de int a str

j = 2
print(j)
print(type(j))
j = str(j)
print(j)
print(type(j))

2
<class 'int'>
2
<class 'str'>

In [51]:
# Cambiar de int a str

j = 2       
print(j)
print(type(j))
j = str(j) + " - " + silvia
print(j)
print(type(j))

2
<class 'int'>
2 - silvia tiene
<class 'str'>

In [1]:
k = 22
k = str(k)
print(k)

22

In [6]:
# Cambiar de str a int

lor = "98"
lor = int(lor)
print(lor)

98

In [11]:
# Para ver la longitud de una lista de caracteres (lista)

mn = "lista de caracteres$%·$% "

#lenght
print(len(mn))

25

In [12]:
h = len(mn)

print(h + 7)

32

In [13]:
h = 8

In [14]:
print(h)

8

In [2]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [4]:
print("Hello Python world!")
print("Nombre de compañero")

companero_clase = "Compañero123123"

print(companero_clase)

Hello Python world!
Nombre de compañero
Compañero123123

In [6]:
print(compañero)

Compañero123123

In [19]:
x = (2 + 4) + 7
print(x)

13

In [12]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [13]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [14]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [30]:
m = (((numero2 + int(string2))))
print(m)

43

In [31]:
print(type(int(string2)))

<class 'int'>

In [35]:
y = 22
y = str(y)
print(type(y))

<class 'str'>

In [33]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [36]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [44]:
h = "2"
int(h)

2

In [27]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [40]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)
print(type(division))

3
<class 'int'>

In [26]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [41]:
print(x)

4

In [47]:
j = "2"
j

'2'

In [48]:
print(j)

2

In [56]:
x = 2
j = 6
g = 4
h = "popeye"

# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )
print(g)
print(j)
print(h)
x

4
6
popeye

2

In [62]:
int(5.6/2)

2

In [63]:
float(2)

2.0

In [66]:
g = int(5.6/2)
print(g)
5

2

5

In [58]:
x = int(5.6//2)

x

2

In [65]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

1

In [ ]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [72]:
edad = 99
edad_companero_der = 30
suma_anterior = edad_companero_der + edad
print(suma_anterior)

129

In [73]:
h = 89 + suma_anterior
h

218

In [66]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

47

In [76]:
i = "hola"
o = i.upper()
o

'HOLA'

In [79]:
o.lower()

'hola'

In [67]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [68]:
print(name.upper)

<built-in method upper of str object at 0x0000021CD21027F0>

In [69]:
print(name.upper())

ADA LOVELACE

In [80]:
x = 2
x = x + 1
x

3

In [96]:
x += 1
x

8

In [97]:
5 + 2

7

In [ ]:
x = 2
x = x + 1
x += 1

In [70]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

## 2. Números y operadores

In [75]:
### Enteros ###

x = 3 

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2, sep="||||") # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1||||2||||8||||10

In [ ]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

## 3. Tipo None

In [ ]:
x = None

## 4. Listas y colecciones

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

## 5. Condiciones: if, elif, else

In [ ]:
if 1 != 1:
    print("Son iguales")
else:
    print("No entra en if")

In [ ]:
if 1>3:
    print("Es mayor")
elif 2==2:
    print("Es igual")
else:
    print("Ninguna de las anteriores")

In [ ]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 2==2:
    print(2)
else:
    print("Segundo else")

In [ ]:
def funcion_condicion():
    if y > 4:
        print("Es mayor a 4")
    else:
        print("No es mayor a 4")

funcion_condicion(y=4)

In [ ]:
def funcion_primera(x):
    if x == 4:
        print("Es igual a 4")
    else:
        funcion_condicion(y=x)

funcion_primera(x=5)

In [ ]:
def funcion_final(apellido):
    if len(apellido) > 5:
        print("Cumple condición")
    else:
        print("No cumpole condición")

funcion_final(apellido="Vazquez")

# Bucles For, While

In [ ]:
lista = [1, "dos", 3, "Pepito"] 

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

In [ ]:
for p in lista:
    print(p)

In [ ]:
altura1 = [1.78, 1.63, 1.75, 1.68]
altura2 = [2.00, 1.82]
altura3 = [1.65, 1.73, 1.75]
altura4 = [1.72, 1.71, 1.71, 1.62]

lista_alturas = [altura1, altura2, altura3, altura4]

print(lista_alturas[0][1])

for x in lista_alturas:
    print(x[3])

In [ ]:
def mostrar_cada_elemento_de_lista(lista):
    for x in lista:
        print(x)

mostrar_cada_elemento_de_lista(lista=lista_alturas)

In [ ]:
mostrar_cada_elemento_de_lista(lista=lista)

In [ ]:
for x in lista_alturas:
    if len(x) > 2:
        print(x[2])
    else:
        print(x[1])