In [5]:
# Entero - Integer- Int
x = 2

# Cadena - String - Lista de caracteres
x = "lorena"
print (x)
x = 7

print (x)

# Para referirnos a la variable: x es una variable en cadena

lorena
7

In [7]:
x = 5
y = 7
z = x + y
print(z)

12

In [2]:
x = "lorena"
l = "silvia"

g = x + l 

# Las cadenas se concatenan

print(g)

lorenasilvia

In [17]:
print(g)

lorenasilvia

In [16]:
# type muestra el tipo de la variable

type(g)

str

In [18]:
#print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

print(g, z)

lorenasilvia 12

In [21]:
#Cambiar de int a str

j = 2
print(j)
print(type(j))
j= str(j)
print(j)
print(type(j))

2
<class 'int'>
2
<class 'str'>

In [1]:
# Cambiar de str a int: las variables en cadena deben incluir caracteres numéricos.
lor = "98"
lor = int(lor)
print(lor)

98

In [23]:
#Para ver la longitud de una lista de caracteres (lista)

mn = "lista de caracteres"

#length
print (len(mn))

19

In [25]:
type(int(2))

int