# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter= '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [6]:
print("Primeras 10 entradas de chipo:")
chipo.head(10)

Primeras 10 entradas de chipo:

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [9]:
#Solución 1
print("Número total de filas de chipo:")
len(chipo)

Número total de filas de chipo:

4622

In [4]:
# Solution 1

4622

In [28]:
#Solución 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [15]:
#Ver el número de columnas de la base de datos
print("Número de columnas de chipo:")
prnt(chipo.shape[1])

#1 es la posición de las columnas y shape ofrece el tamaño de filas y de columnas. Al ocupar las filas la posición 0  y las columnas la posición 1, al poner 1, se muestran solo las columnas

Número de columnas de chipo:

5

5

### Step 7. Print the name of all the columns.

In [21]:
print("nombre de las columnas")
print(chipo.columns)

nombre de las columnas
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [24]:
print("indexación de chipo:")
chipo.index

indexación de chipo:

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [51]:
#Para saber el item más pedido, hay que filtrar quantity

agrupo = chipo.groupby('item_name').sum()
ordeno = agrupo.sort_values(['quantity'])
ordeno.tail(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [60]:
print(ordeno['quantity'].tail(1))

ordeno.tail(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

              order_id  quantity
item_name
Chicken Bowl    713926       761

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [72]:
print("Choice Description más pedido:")
descripcion_choice = chipo.groupby('choice_description').sum()
descripcion_choice = descripcion_choice.sort_values('quantity')
descripcion_choice.tail(1)

Choice Description más pedido:

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [90]:
print("Elementos pedidos en total:")
sum(chipo['quantity'])

Elementos pedidos en total:

4972

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [85]:
chipo['item_price'].dtypes

dtype('O')

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [108]:
datasindolar = chipo['item_price'].map(lambda x: x.lstrip('$'))
chipo['item_price'] = datasindolar
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

#### Step 13.c. Check the item price type

In [111]:
chipo['item_price'].dtypes
chipo['item_price'] = pd.to_numeric(chipo['item_price'])
chipo['item_price'].dtypes

dtype('float64')

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [124]:
#Para sacar ingresos totales, hay que sumar la columna item_price

ingresos = sum(chipo['item_price']* chipo['quantity'])
ingresosfinales = round(ingresos, 2)
print("Revenue was: $"+ str(ingresosfinales))

Revenue was: $39237.02

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [156]:
amount_of_orders = chipo.groupby('order_id').sum()
amount_of_orders = amount_of_orders.tail(1)
amount_of_orders

          quantity  item_price
order_id
1834             3       28.75

In [164]:
cantidad_orders = len(chipo.groupby('order_id'))
cantidad_orders

1834

1834

### Step 16. What is the average revenue amount per order?

In [167]:
mediarevenue = ingresosfinales / cantidad_orders
mediarevenue

21.39423118865867

In [31]:
# Solution 1

21.394231188658654

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

In [172]:
cant_items = len(chipo.groupby('item_name'))
cant_items

50

50